[Unit]
Description=Display IP Address on SSD1306
After=network.target

[Service]
ExecStart=/home/pi/Documents/researchproject/RPI_display/display_ip.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
